:root{
    --purple:#2F192E;
    --purple-light:#30192d;
    --dark-blue:#012677;
    --blue:#5c65c0;
    --skyblue :#00b4fc;
    --light-blue:#005bc5;
    --dark-pink:#f64c57;
    --dark-magenta:#e21b5a;
    --light-green:#61e2c2;
    --light-purple:#d9abff;
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    text-decoration: none;
    font-family: poppins,sans-serif;
}
body{
    background: black;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    padding-left: 8rem;
}
.profile-card{
    background: #252424;
    width: 400px;
    padding: 3rem;
    border-radius: 20px;
    height: 1000px;
    position: relative;
    color: #fff;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.profile-card .profile-pic{
    margin-top: 15px;
    overflow: hidden;
}
.profile-card .profile-pic img{
    border-radius: 50%;
    width: 250px;
    height: 250px;

}
.profile-card .profile-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
}
.profile-details .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-details .intro h2{
    margin-top: 20px;
}
.profile-details .intro h4{
    background:     #252424;
    font-weight: 400;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 8px;
}
.profile-details .intro .social{
    margin-top: 10px;
    margin-bottom: 25px;
}
.profile-details .intro .social i{
    color:#ddd;
    font-size: 16px;
    background-color:#222;
    margin: 5px;
    height: 35px;
    width:35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}
.profile-details .intro .social i:hover{
    transform: scale(1.2);
    border:1px solid rgba(255,255,255,0.3);
}
.profile-details .contact-info{
    background-color: #1d1d1d;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}
.profile-details .contact-info .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 10px 0;
    margin-bottom: 10px;
}
.contact-info .row .icon{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #111;
    text-align: center;
    color:#fff;
    transition: 0.5s;
}
.row .icon:hover{
    transform:scale(1.2);
    border:1px solid ;
}
.row .content{
    min-width: 70%;
}
.row .content span{
    font-size: 12px;
}
.download-btn{
    background: linear-gradient(45deg, #f64c57,#e21b5a);
    color:#fff;
    padding: 1rem 3rem;
    border-radius: 30px;
    margin-top: 1.5rem;
    border:none;
}
.download-btn:hover{
    background: linear-gradient(45deg, #f64c57,#ffffff);
    color:#070707;
    padding: 1rem 3rem;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: rgba(29, 28, 28, 0.1);
    font-size: small;
    margin-top: 4.5rem;
    margin-block-start: 4em;
    margin-block-end: -3em;
  
  }
  /* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 260px;
}

.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    margin-bottom: 50px;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #fff;
    margin-bottom: 35px;
}

.links h4 {
    color: #f2f2f2;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #f6ebeb;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 260px;
}

.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 43px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #fff;
}

.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}
/*****about section ****/

#icon {
width: 30px;
cursor: pointer;
}
.about{
    background-color: #252424;
    max-width: 800px;
    padding: 2rem 3rem;
    border-radius: 10px;
}
.about h1{
    color:#f2f2f2;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;

}
.about h1::after{
    position: absolute;
    content: "";
    top:50%;
    right:-50%;
    width:45%;
    height: 3px;
    text-decoration: underline;
    background: linear-gradient(45deg, #f64c57,#e21b5a);
}
.about h2{
    color:#0bd8ea;
    font-size: 2rem;
    margin:0.5rem 0;
    text-align: center;
    padding-bottom: 40px;
    text-decoration: underline;
}
.about p{
    color:#ababab;
    margin:1.5rem 0;
}
.about .work{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    color: #383737;
}
.work .workbox{
    display: flex;
    justify-content: space-between;
    border-radius:8px;
    border:1px solid #707070;
    padding: 1rem;
    margin:1rem;

}
.work .workbox .desc{
    width:75%;
    color:#555;
}
.work .workbox .desc h3{
    color:#f2f2f2;
    margin-bottom: 3px;
}
.work .workbox .desc p{
    margin:0px;
}
/***Responsive Design ***/
@media(max-width:768px)
{
    .about{
        width: 1005;
        max-width: 400px;
        padding:1rem;
        margin:1rem;

    }
    .about h2{
        font-size: 2.2rem;
    }
    .about .work{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,auto);
    }
}

section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 350px;
    height: 500px;
    padding: 25px 30px;
}
.heading{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.horizontal-bars .bar{
    margin: 40px 0;
}
.horizontal-bars .bar:first-child{
    margin-top: 0;
}
.horizontal-bars .bar:last-child{
    margin-bottom: 0;
}
.horizontal-bars .bar .info{
    margin-bottom: 5px;
}
.horizontal-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;   
    opacity: 0;
}

.horizontal-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.horizontal-bars .bar .progress-line span{
    height: 100%;
    background-color: #0bd8ea   ;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 60%;
}
.progress-line.jquery span{
    width: 85%;
}
.progress-line.python span{
    width: 50%;
}
.progress-line.mysql span{
    width: 75%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;   
    opacity: 0;
}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "60%";
}
.progress-line.jquery span::after{
    content: "85%";
}
.progress-line.python span::after{
    content: "50%";
}
.progress-line.mysql span::after{
    content: "75%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color:#000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;   
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}

.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #0bd8ea;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}


@keyframes  animate-path1{
    100%{
    stroke-dashoffset: 50;
    }
}
@keyframes  animate-path2{
    100%{
    stroke-dashoffset: 175;
    }
}
@keyframes  animate-path3{
    100%{
    stroke-dashoffset: 125;
    }
}
@keyframes  animate-path4{
    100%{
    stroke-dashoffset: 75;
    }
}

.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;

}
.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.info{
    color: white;
}
.text{
    color: white    ;
}
.percentage{
    color: white;
}
.projects-section {
        background-color: #252424;
     width: 1200px;
display: flex;
    flex-wrap: wrap; /* Ensures child elements wrap to the next line on small screens */
     padding: 2rem 3rem;
        border-radius: 10px;
        margin-top: 100px;       
}

.projects-section h1 {
    color:#f2f2f2;
    margin-bottom: 1.1rem;
    position: relative;
    display: flex;
    font-size: 3.5rem;
    
    
}
.projects-section h1::after{
    position: absolute;
    content: "";
    top:50%;
    right:-50%;
    width:45%;
    height: 5px;
    background: linear-gradient(45deg, #f64c57,#e21b5a);
}

.projects-container {
   
    justify-content: center;
    gap: 20px;
    padding: 0 5%;
margin-top: 50px;
display: flex;
    flex-wrap: wrap; /* Ensures child elements wrap to the next line on small screens */
    
    padding: 20px;


}

.project-card {
    background: color rgb(103, 108, 103);;
    border: 1px solid #ddd;
    width: 1000px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.project-card h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #cbafaf;
}

.project-card p {
    font-size: 1em;
    margin-bottom: 15px;
    color: #cfcbcb;
    text-align: left;
}

.project-card a {
    text-decoration: none;
    color: #ecf0f4;
    font-weight: bold;
}


.project-card:hover {
    transform: translateY(-10px);
    background-color: #1d1d1d;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);}

  .project-description{
    max-width: 1000px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    align-items: center;
  }
  .project-description h2{
    font-stretch: expanded;
  }
  
  video{
    height: 500px;

  }
  .download-btn{
    text-decoration-color: white;
  }
  .content a {
    text-decoration: none; /* Removes underline from the link */
    color: inherit; /* Inherits the text color from the parent element */
}

.content a:hover h5 {
    color: blue; /* Change color on hover */
}